@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    color: black;
    
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #271e5e;
}

.content {
    flex: 1; /* Allow the content to grow and fill available space */
    /* background-color: #271e5e; */
}

.taskadder{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    /*background:#01579b !important ;*/
    background-color: #F0F0F0;
}

.taskadder input{
    margin: 5px;
    padding: 2px;
    height: 35px;
    width: 65%;
    border-radius: 25px;
    background-color: white;
}

input[type='text']{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.taskadder button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 2px;
    height: 35px;
    width: 65px;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    align-items: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    padding: 100px;
    /* margin: 10%; */
    background-color: #F0F0F0;
}

h1{
    /* padding: 5px; */
    margin: 10px;
}